.bannersParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.landingHeader {
  background: url("../../images/images/supima-header-web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 725px; }
  .landingHeader .headerTitleParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 170px;
    margin-left: 750px; }
    .landingHeader .headerTitleParent .supimaLogo {
      height: 100px; }
    .landingHeader .headerTitleParent hr {
      margin-top: 30px;
      margin-bottom: 20px;
      width: 65px;
      height: 1.5px;
      border: 0;
      background: var(--color-dark-grey); }
    .landingHeader .headerTitleParent h5 {
      text-align: center;
      margin-bottom: 20px; }
    .landingHeader .headerTitleParent .headerParagraph {
      width: 575px;
      line-height: 25px;
      margin-bottom: 30px;
      font-size: 14.5px;
      font-weight: 600; }
    .landingHeader .headerTitleParent .showroom {
      text-align: center;
      color: var(--color-dark-grey);
      letter-spacing: .5px;
      font-size: 15px;
      font-weight: 600; }

.dark-grey {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--color-light-grey);
  background: var(--color-dark-grey); }
  .dark-grey .vegas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 5.5px;
    width: 170px;
    letter-spacing: 1px;
    font-family: 'Neutra Bold'; }
  .dark-grey .upcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 230px;
    letter-spacing: 1.3px; }
    .dark-grey .upcoming a.upcoming {
      font-weight: 500; }

.productBG {
  height: 1550px;
  width: 100%;
  background-color: var(--color-white); }

.wovenParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .wovenParent .wovenTitle {
    position: absolute;
    margin-top: -60px;
    margin-left: 20px;
    letter-spacing: .5px; }
  .wovenParent .wovenSubtitle {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    letter-spacing: 1px; }
  .wovenParent .btn {
    position: absolute;
    margin-top: 90px;
    margin-left: -10px; }
    .wovenParent .btn .btn-black {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 40px;
      width: 160px;
      cursor: pointer; }
  .wovenParent .wovenImg {
    margin-top: 20px;
    margin-left: 250px;
    height: 580px;
    width: 950px; }

.linenParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .linenParent .linenImgs {
    height: 200px;
    margin-top: 20px;
    margin-right: 105px;
    margin-left: 105px; }
  .linenParent .warranty {
    position: absolute;
    margin-top: 16px;
    margin-left: 225px;
    height: 100px; }

.titleParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .titleParent .linensTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;
    width: 250px;
    margin-right: 82px;
    margin-left: 82px;
    font-family: 'Neutra Bold';
    font-size: 20px;
    letter-spacing: .8px; }

.paragraphParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -20px; }
  .paragraphParent .linenParagraphs {
    font-size: 16px;
    letter-spacing: .4px;
    margin-right: 50px;
    margin-left: 60px;
    width: 305px;
    height: 240px;
    font-weight: 500; }
  .paragraphParent #trademark {
    font-size: 9px; }
  .paragraphParent sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em; }

.learnMore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px; }

.videoParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 280px; }
  .videoParent .videoThumb {
    position: absolute;
    width: 1000px;
    height: 500px;
    z-index: 1; }
  .videoParent .play {
    height: 100px;
    margin-top: 40px;
    z-index: 2;
    cursor: pointer; }

.bg-light-grey {
  width: 100%;
  height: 1380px; }
  .bg-light-grey .field {
    width: 100%;
    height: 500px; }
  .bg-light-grey .pillowTitle {
    margin-top: -130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .bg-light-grey .pillowTitle h3 {
      letter-spacing: 1px; }
    .bg-light-grey .pillowTitle #sup {
      font-size: 18px; }
      .bg-light-grey .pillowTitle #sup h3 {
        letter-spacing: 1px; }
  .bg-light-grey .pillowTitle2 {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .bg-light-grey .pillowParaParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .bg-light-grey .pillowParaParent .pillowParagraph {
      margin-top: 20px;
      margin-bottom: -20px;
      width: 560px;
      height: 200px;
      font-weight: 500; }
    .bg-light-grey .pillowParaParent #pillowPara {
      line-height: 22px;
      letter-spacing: 1px; }
    .bg-light-grey .pillowParaParent #registered {
      font-size: 10px; }
    .bg-light-grey .pillowParaParent sup {
      vertical-align: baseline;
      position: relative;
      top: -0.4em; }
  .bg-light-grey .pillowImgParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .bg-light-grey .pillowImgParent .pillowsImg1 {
      height: 180px; }
  .bg-light-grey .pillowNamesParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px; }
    .bg-light-grey .pillowNamesParent .pillowSpace {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 90px;
      margin-left: 70px; }
    .bg-light-grey .pillowNamesParent #pillowReg {
      font-size: 9px; }
    .bg-light-grey .pillowNamesParent #pillowSup {
      font-size: 9px; }
    .bg-light-grey .pillowNamesParent sup {
      vertical-align: baseline;
      position: relative;
      top: -0.4em; }
  .bg-light-grey .randomPicsParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-top: 130px; }
    .bg-light-grey .randomPicsParent #headboardTitle {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      margin-top: 155px;
      line-height: 0px;
      letter-spacing: .8px; }
    .bg-light-grey .randomPicsParent .newStructures {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
      line-height: 2px;
      margin-right: 20px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: 1px; }
    .bg-light-grey .randomPicsParent #supStructures {
      font-size: 11px; }
    .bg-light-grey .randomPicsParent sup {
      vertical-align: baseline;
      position: relative;
      top: -0.6em; }
    .bg-light-grey .randomPicsParent .headboard {
      position: relative;
      margin-right: 20px;
      height: 200px;
      width: 500px;
      z-index: 4; }
    .bg-light-grey .randomPicsParent .showroom {
      position: relative;
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
      width: 500px;
      height: 400px;
      z-index: 4; }
    .bg-light-grey .randomPicsParent .hamburger {
      position: relative;
      margin-top: -115px;
      margin-left: 20px;
      width: 500px;
      height: 200px;
      z-index: 4; }
    .bg-light-grey .randomPicsParent #hamburgerTitle {
      position: relative;
      margin-left: 20px;
      margin-top: 35px;
      z-index: 4;
      color: var(--color-light-grey);
      line-height: 0px;
      letter-spacing: .8px; }
    .bg-light-grey .randomPicsParent .chefPrepared {
      position: relative;
      z-index: 4;
      line-height: 2px;
      margin-left: 20px;
      color: var(--color-light-grey);
      font-style: italic;
      font-weight: 500;
      letter-spacing: 1px; }

.bg-dark-grey {
  height: 440px;
  width: 100%;
  position: relative; }

.bg-dark-grey:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewY(-6deg);
  transform-origin: top left; }

.thankTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 4; }
  .thankTitle .thank {
    margin-top: 230px;
    color: var(--color-light-grey);
    line-height: 2px; }
  .thankTitle .thankSub {
    color: var(--color-light-grey);
    font-weight: 400;
    line-height: 10px; }
  .thankTitle .recap {
    margin-top: 30px;
    letter-spacing: 1.3px;
    font-weight: 500; }
