@mixin flex-banners($direction: column, $justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

.bannersParent {
    @include flex-banners;
}

// Main Header Section:  This is the section that has the flower background.

.landingHeader {
    background:url("../../images/images/supima-header-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 725px;

    .headerTitleParent {
        @include flex-banners;
        margin-top: 170px;
        margin-left: 750px;

        .supimaLogo {
            height: 100px;
        }

        hr {
            margin-top: 30px;
            margin-bottom: 20px;
            width: 65px;
            height: 1.5px;
            border: 0;
            background: var(--color-dark-grey);
        }

        h5 {
            text-align: center;
            margin-bottom: 20px;
        }

        .headerParagraph {
            width: 575px;
            line-height: 25px;
            margin-bottom: 30px;
            font-size: 14.5px;
            font-weight: 600;
        }

        .showroom {
            text-align: center;
            color: var(--color-dark-grey);
            letter-spacing: .5px;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

// This is the code for the grey strip section

.dark-grey {
    height: 50px;
    width: 100%;
    @include flex-center;
    color: var(--color-white);
    background: var(--color-dark-grey);

    .vegas {
        @include flex-center;
        padding-top: 5.5px;
        width: 170px;
        letter-spacing: 1px;
        font-family: 'Neutra Bold';
    }

    .upcoming {
        @include flex-center;
        width: 230px;
        letter-spacing: 1.3px;

        a.upcoming {
            font-weight: 500;
        }
    }
}


// Product Section:   This is the section that has the white background. 
    // This is the upper portion with the Woven Section. 

.productBG {
    height: 1550px;
    width: 100%;
    background-color: var(--color-white);
}

.wovenParent {
    @include flex-center;

    .wovenTitle {
        position: absolute;
        margin-top: -60px;
        margin-left: 20px;
        letter-spacing: .5px;
    }

    .wovenSubtitle {
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        letter-spacing: 1px;
    }

    .btn {
        position: absolute;
        margin-top: 90px;
        margin-left: -10px;

        .btn-black {
            @include flex-center;
            height: 40px;
            width: 160px;
            cursor: pointer;
        }
    }

    .wovenImg {
        margin-top: 20px;
        margin-left: 250px;
        height: 580px;
        width: 950px;
    
    }
}

// This is the lower part of the product section that has the circular linen pictures.

.linenParent {
    @include flex-center;

    .linenImgs {
        height: 200px;
        margin-top: 20px;
        margin-right: 105px;
        margin-left: 105px;
    }

    .warranty {
        position: absolute;
        margin-top: 16px;
        margin-left: 225px;
        height: 100px;
    }
}

.titleParent {
    @include flex-center;

    .linensTitle {
        @include flex-center;
        height: 100px;
        width: 250px;
        margin-right: 82px;
        margin-left: 82px;
        font-family: 'Neutra Bold';
        font-size: 20px;
        letter-spacing: .8px;
    }
}

.paragraphParent {
    @include flex-center;
    margin-top: -20px;

    .linenParagraphs {
        font-size: 16px;
        letter-spacing: .4px;
        margin-right: 50px;
        margin-left: 60px;
        width: 305px;
        height: 240px;
        font-weight: 500;
    }

    #trademark {
        font-size: 9px;
    }
}

.learnMore {
    @include flex-center;
    width: 100%;
    letter-spacing: 1.3px;
}

.videoParent {
    @include flex-center;
    margin-top: 280px;

    .videoThumb {
        position: absolute;
        width: 1000px;
        height: 500px;
        z-index: 1;
    }

    .play {
        height: 100px;
        margin-top: 40px;
        z-index: 2;
        cursor: pointer;
    }
}


// Pillow Line Section:   This is the section that has the light grey background. 

.bg-light-grey {
    width: 100%;
    height: 1300px;

    .field {
        width: 100%;
        height: 550px;
    }
}

// Dark Grey Thank You Section:  This section is the dark grey section with the angled background.

.bg-dark-grey {
    height: 500px;
    width: 100%;
    z-index: 3;
    position: relative;
}

.bg-dark-grey:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
}
