@mixin flex-banners($direction: column, $justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

.bannersParent {
    @include flex-banners;
}

// Main Header Section:  This is the section that has the flower background.

.landingHeader {
    background:url("../../images/images/supima-header-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 725px;

    .headerTitleParent {
        @include flex-banners;
        margin-top: 170px;
        margin-left: 750px;

        .supimaLogo {
            height: 100px;
        }

        hr {
            margin-top: 30px;
            margin-bottom: 20px;
            width: 65px;
            height: 1.5px;
            border: 0;
            background: var(--color-dark-grey);
        }

        h5 {
            text-align: center;
            margin-bottom: 20px;
        }

        .headerParagraph {
            width: 575px;
            line-height: 25px;
            margin-bottom: 30px;
            font-size: 14.5px;
            font-weight: 600;
        }

        .showroom {
            text-align: center;
            color: var(--color-dark-grey);
            letter-spacing: .5px;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

// This is the code for the grey strip section

.dark-grey {
    height: 50px;
    width: 100%;
    @include flex-center;
    color: var(--color-light-grey);
    background: var(--color-dark-grey);

    .vegas {
        @include flex-center;
        padding-top: 5.5px;
        width: 170px;
        letter-spacing: 1px;
        font-family: 'Neutra Bold';
    }

    .upcoming {
        @include flex-center;
        width: 230px;
        letter-spacing: 1.3px;

        a.upcoming {
            font-weight: 500;
        }
    }
}


// Product Section:   This is the section that has the white background. 
    // This is the upper portion with the Woven Section. 

.productBG {
    height: 1550px;
    width: 100%;
    background-color: var(--color-white);
}

.wovenParent {
    @include flex-center;

    .wovenTitle {
        position: absolute;
        margin-top: -60px;
        margin-left: 20px;
        letter-spacing: .5px;
    }

    .wovenSubtitle {
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        letter-spacing: 1px;
    }

    .btn {
        position: absolute;
        margin-top: 90px;
        margin-left: -10px;

        .btn-black {
            @include flex-center;
            height: 40px;
            width: 160px;
            cursor: pointer;
        }
    }

    .wovenImg {
        margin-top: 20px;
        margin-left: 250px;
        height: 580px;
        width: 950px;
    
    }
}

// This is the lower part of the product section that has the circular linen pictures.

.linenParent {
    @include flex-center;

    .linenImgs {
        height: 200px;
        margin-top: 20px;
        margin-right: 105px;
        margin-left: 105px;
    }

    .warranty {
        position: absolute;
        margin-top: 16px;
        margin-left: 225px;
        height: 100px;
    }
}

.titleParent {
    @include flex-center;

    .linensTitle {
        @include flex-center;
        height: 100px;
        width: 250px;
        margin-right: 82px;
        margin-left: 82px;
        font-family: 'Neutra Bold';
        font-size: 20px;
        letter-spacing: .8px;
    }
}

.paragraphParent {
    @include flex-center;
    margin-top: -20px;

    .linenParagraphs {
        font-size: 16px;
        letter-spacing: .4px;
        margin-right: 50px;
        margin-left: 60px;
        width: 305px;
        height: 240px;
        font-weight: 500;
    }

    #trademark {
        font-size: 9px;
    }

    sup {
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
    }
}

.learnMore {
    @include flex-center;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
}

.videoParent {
    @include flex-center;
    margin-top: 280px;

    .videoThumb {
        position: absolute;
        width: 1000px;
        height: 500px;
        z-index: 1;
    }

    .play {
        height: 100px;
        margin-top: 40px;
        z-index: 2;
        cursor: pointer;
    }
}


// Pillow Line Section:   This is the section that has the light grey background. 

.bg-light-grey {
    width: 100%;
    height: 1380px;

    .field {
        width: 100%;
        height: 500px;
    }

    .pillowTitle {
        margin-top: -130px;
        @include flex-center;
        
        h3 {
            letter-spacing: 1px;
        }

        #sup {
            font-size: 18px;

            h3 {
                letter-spacing: 1px;
            }
        }
    }

    .pillowTitle2 {
        margin-top: -30px;
        @include flex-center;
    }

    .pillowParaParent {
        @include flex-center;

        .pillowParagraph {
            margin-top: 20px;
            margin-bottom: -20px;
            width: 560px;
            height: 200px;
            font-weight: 500;
        }

        #pillowPara {
            line-height: 22px;
            letter-spacing: 1px;
        }

        #registered {
            font-size: 10px;
        }

        sup {
            vertical-align: baseline;
            position: relative;
            top: -0.4em;
        }
    }

    .pillowImgParent {
        @include flex-center;

        .pillowsImg1 {
            height: 180px;
        }
    }

    .pillowNamesParent {
        @include flex-center;
        margin-left: 50px;
        margin-right: 50px;

        .pillowSpace {
            @include flex-banners;
            margin-right: 90px;
            margin-left: 70px;
        }

        #pillowReg {
            font-size: 9px;
        }

        #pillowSup {
            font-size: 9px;
        }

        sup {
            vertical-align: baseline;
            position: relative;
            top: -0.4em;
        }

    }

    .randomPicsParent {
        @include flex-center;
        position: relative;
        margin-top: 130px;

        #headboardTitle {
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            margin-top: 155px;
            line-height: 0px;
            letter-spacing: .8px;
        }
        .newStructures {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 30px;
            line-height: 2px;
            margin-right: 20px;
            font-style: italic;
            font-weight: 500;
            letter-spacing: 1px;
        }

        #supStructures {
            font-size: 11px;
        }

        sup {
            vertical-align: baseline;
            position: relative;
            top: -0.6em;
        }

        .headboard {
            position: relative;
            margin-right: 20px;
            height: 200px;
            width: 500px;
            z-index: 4;
        }
    
        .showroom {
            position: relative;
            margin-top: 15px;
            margin-left: 20px;
            margin-right: 20px;
            width: 500px;
            height: 400px;
            z-index: 4;
        }
    
        .hamburger {
            position: relative;
            margin-top: -115px;
            margin-left: 20px;
            width: 500px;
            height: 200px;
            z-index: 4;
        }

        #hamburgerTitle {
            position: relative;
            margin-left: 20px;
            margin-top: 35px;
            z-index: 4;
            color: var(--color-light-grey);
            line-height: 0px;
            letter-spacing: .8px;
        }

        .chefPrepared {
            position: relative;
            z-index: 4;
            line-height: 2px;
            margin-left: 20px;
            color: var(--color-light-grey);
            font-style: italic;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}


// Dark Grey Thank You Section:  This section is the dark grey section with the angled background.

.bg-dark-grey {
    height: 440px;
    width: 100%;
    position: relative;
}

.bg-dark-grey:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.thankTitle {
    @include flex-center;
    position: relative;
    z-index: 4;

    .thank {
        margin-top: 230px;
        color: var(--color-light-grey);
        line-height: 2px;
    }

    .thankSub {
        color: var(--color-light-grey);
        font-weight: 400;
        line-height: 10px;
    }

    .recap {
        margin-top: 30px;
        letter-spacing: 1.3px;
        font-weight: 500;
    }
}

