.bannersParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.landingHeader {
  background: url("../../images/images/supima-header-web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 725px; }
  .landingHeader .headerTitleParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 170px;
    margin-left: 750px; }
    .landingHeader .headerTitleParent .supimaLogo {
      height: 100px; }
    .landingHeader .headerTitleParent hr {
      margin-top: 30px;
      margin-bottom: 20px;
      width: 65px;
      height: 1.5px;
      border: 0;
      background: var(--color-dark-grey); }
    .landingHeader .headerTitleParent h5 {
      text-align: center;
      margin-bottom: 20px; }
    .landingHeader .headerTitleParent .headerParagraph {
      width: 575px;
      line-height: 25px;
      margin-bottom: 30px;
      font-size: 14.5px;
      font-weight: 600; }
    .landingHeader .headerTitleParent .showroom {
      text-align: center;
      color: var(--color-dark-grey);
      letter-spacing: .5px;
      font-size: 15px;
      font-weight: 600; }

.dark-grey {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--color-light-grey);
  background: var(--color-dark-grey); }
  .dark-grey .vegas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 5.5px;
    width: 170px;
    letter-spacing: 1px;
    font-family: 'Neutra Bold'; }
  .dark-grey .upcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 230px;
    letter-spacing: 1.3px; }
    .dark-grey .upcoming a.upcoming {
      font-weight: 500; }

.productBG {
  height: 1550px;
  width: 100%;
  background-color: var(--color-white); }

.wovenParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .wovenParent .wovenTitle {
    position: absolute;
    margin-top: -60px;
    margin-left: 20px;
    letter-spacing: .5px; }
  .wovenParent .wovenSubtitle {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-family: 'Neutra';
    font-variant-numeric: lining-nums;
    text-transform: uppercase;
    color: var(--color-dark-grey);
    margin-bottom: 0.25rem;
    font-size: 20px;
    font-weight: 600; }
  .wovenParent .wovenSubtitle2 {
    position: absolute;
    margin-top: 55px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-family: 'Neutra';
    font-variant-numeric: lining-nums;
    text-transform: uppercase;
    color: var(--color-dark-grey);
    margin-bottom: 0.25rem;
    font-size: 20px;
    font-weight: 600; }
  .wovenParent .btn {
    position: absolute;
    margin-top: 85px;
    margin-left: -10px; }
    .wovenParent .btn .btn-black {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 40px;
      width: 160px;
      cursor: pointer; }
  .wovenParent .wovenImg {
    margin-top: 20px;
    margin-left: 250px;
    height: 580px;
    width: 950px; }

.linenParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .linenParent .linenImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 200px;
    margin-top: 20px;
    margin-right: 105px;
    margin-left: 105px; }
  .linenParent .linensTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;
    width: 250px;
    margin-right: 82px;
    margin-left: 82px;
    font-family: 'Neutra Bold';
    font-size: 20px;
    letter-spacing: .8px; }
  .linenParent .linenParagraphs {
    font-size: 16px;
    letter-spacing: .4px;
    width: 305px;
    margin-top: -20px;
    margin-right: 50px;
    margin-left: 60px;
    height: 240px;
    font-weight: 500; }
  .linenParent .warranty {
    position: absolute;
    margin-top: 16px;
    margin-left: 225px;
    height: 100px; }
  .linenParent #trademark {
    font-size: 9px; }
  .linenParent sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em; }

.learnMore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px; }

.videoParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 300px; }
  .videoParent .videoThumb {
    position: absolute;
    width: 1000px;
    height: 500px;
    z-index: 1; }
  .videoParent .play {
    height: 100px;
    margin-top: 10px;
    z-index: 2;
    cursor: pointer; }
  .videoParent .modalVideoParent {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .videoParent .videoDef {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }

.bg-light-grey {
  width: 100%;
  height: 1380px; }
  .bg-light-grey .field {
    width: 100%;
    height: 500px; }
  .bg-light-grey .pillowTitle {
    margin-top: -130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .bg-light-grey .pillowTitle h3 {
      letter-spacing: 1px; }
    .bg-light-grey .pillowTitle #sup {
      font-size: 18px; }
      .bg-light-grey .pillowTitle #sup h3 {
        letter-spacing: 1px; }
  .bg-light-grey .pillowTitle2 {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .bg-light-grey .pillowParaParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .bg-light-grey .pillowParaParent .pillowParagraph {
      margin-top: 20px;
      margin-bottom: -20px;
      width: 560px;
      height: 200px;
      font-weight: 500; }
    .bg-light-grey .pillowParaParent #pillowPara {
      line-height: 22px;
      letter-spacing: 1px; }
    .bg-light-grey .pillowParaParent #registered {
      font-size: 10px; }
    .bg-light-grey .pillowParaParent sup {
      vertical-align: baseline;
      position: relative;
      top: -0.4em; }
  .bg-light-grey .pillowImgParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .bg-light-grey .pillowImgParent .pillowsImg1 {
      height: 180px; }
  .bg-light-grey .pillowNamesParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px; }
    .bg-light-grey .pillowNamesParent .pillowSpace {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 90px;
      margin-left: 70px; }
    .bg-light-grey .pillowNamesParent #pillowReg {
      font-size: 9px; }
    .bg-light-grey .pillowNamesParent #pillowSup {
      font-size: 9px; }
    .bg-light-grey .pillowNamesParent sup {
      vertical-align: baseline;
      position: relative;
      top: -0.4em; }
  .bg-light-grey .randomPicsParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-top: 130px; }
    .bg-light-grey .randomPicsParent #headboardTitle {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      margin-top: 155px;
      line-height: 0px;
      letter-spacing: .8px; }
    .bg-light-grey .randomPicsParent .newStructures {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
      line-height: 2px;
      margin-right: 20px;
      font-style: italic;
      font-weight: 500;
      letter-spacing: 1px; }
    .bg-light-grey .randomPicsParent #supStructures {
      font-size: 11px; }
    .bg-light-grey .randomPicsParent sup {
      vertical-align: baseline;
      position: relative;
      top: -0.6em; }
    .bg-light-grey .randomPicsParent .headboard {
      position: relative;
      margin-right: 20px;
      height: 200px;
      width: 500px;
      z-index: 4; }
    .bg-light-grey .randomPicsParent .showroom {
      position: relative;
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
      width: 500px;
      height: 400px;
      z-index: 4; }
    .bg-light-grey .randomPicsParent .hamburger {
      position: relative;
      margin-top: -115px;
      margin-left: 20px;
      width: 500px;
      height: 200px;
      z-index: 4; }
    .bg-light-grey .randomPicsParent #hamburgerTitle {
      position: relative;
      margin-left: 20px;
      margin-top: 35px;
      z-index: 4;
      color: var(--color-light-grey);
      line-height: 0px;
      letter-spacing: .8px; }
    .bg-light-grey .randomPicsParent .chefPrepared {
      position: relative;
      z-index: 4;
      line-height: 2px;
      margin-left: 20px;
      color: var(--color-light-grey);
      font-style: italic;
      font-weight: 500;
      letter-spacing: 1px; }

.bg-dark-grey {
  height: 440px;
  width: 100%;
  position: relative; }

.bg-dark-grey:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewY(-6deg);
  transform-origin: top left; }

.thankTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 4; }
  .thankTitle .thank {
    margin-top: 230px;
    color: var(--color-light-grey);
    line-height: 2px; }
  .thankTitle .thankSub {
    color: var(--color-light-grey);
    font-weight: 400;
    line-height: 10px; }
  .thankTitle .recap {
    margin-top: 30px;
    letter-spacing: 1.3px;
    font-weight: 500; }

@media screen and (max-width: 2200px) {
  .landingHeader {
    height: 825px; } }

@media screen and (max-width: 2000px) {
  .landingHeader {
    height: 775px; } }

@media screen and (max-width: 1700px) {
  .landingHeader {
    height: 675px; }
  .linenImgs {
    margin-right: 80px !important;
    margin-left: 80px !important; }
  .warranty {
    margin-left: 218px !important; }
  .linensTitle {
    margin-right: 57px !important;
    margin-left: 57px !important; }
  .linenParagraphs {
    margin-right: 30px !important;
    margin-left: 35px !important; } }

@media screen and (max-width: 1600px) {
  .landingHeader {
    height: 625px; }
  .headerTitleParent {
    margin-top: 120px !important;
    margin-right: 50px; }
  .wovenParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 20px; }
  .wovenImg {
    height: 520px !important;
    width: 870px !important; }
  .linenImgs {
    margin-right: 70px !important;
    margin-left: 70px !important; }
  .warranty {
    margin-left: 205px !important; }
  .linensTitle {
    margin-right: 50px !important;
    margin-left: 50px !important; }
  .linenParagraphs {
    margin-right: 20px !important;
    margin-left: 25px !important; } }

@media screen and (max-width: 1536px) {
  .landingHeader {
    height: 575px; }
  .headerTitleParent {
    margin-top: 90px !important;
    margin-right: 70px; }
  .wovenParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 40px; }
  .linenImgs {
    margin-right: 60px !important;
    margin-left: 60px !important; }
  .warranty {
    margin-left: 195px !important; }
  .linensTitle {
    margin-right: 40px !important;
    margin-left: 40px !important; }
  .linenParagraphs {
    margin-right: 10px !important;
    margin-left: 20px !important; } }

@media screen and (max-width: 1400px) {
  .landingHeader {
    height: 525px; }
  .headerTitleParent {
    margin-top: 70px !important;
    margin-right: 100px; }
  .wovenParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 50px; }
  .linenImgs {
    margin-right: 50px !important;
    margin-left: 50px !important; }
  .warranty {
    margin-left: 185px !important; }
  .linensTitle {
    margin-right: 30px !important;
    margin-left: 30px !important; }
  .linenParagraphs {
    margin-right: 10px !important;
    margin-left: 20px !important;
    font-size: 14px !important;
    letter-spacing: .3px !important;
    width: 264px !important; } }

@media screen and (max-width: 1366px) {
  .landingHeader {
    height: 500px; }
  .headerTitleParent {
    margin-top: 50px !important;
    margin-right: 160px; } }

@media screen and (max-width: 1280px) {
  .landingHeader {
    background-position: right bottom;
    height: 475px; }
  .headerTitleParent {
    margin-top: 40px !important;
    margin-right: 300px; }
  .linenImgs {
    margin-right: 40px !important;
    margin-left: 40px !important;
    height: 180px !important; }
  .warranty {
    height: 80px !important;
    margin-left: 160px !important; }
  .linensTitle {
    margin-right: 6px !important;
    margin-left: 6px !important; }
  .linenParagraphs {
    margin-right: 20px !important;
    margin-left: 25px !important;
    font-size: 14px !important;
    letter-spacing: .3px !important;
    width: 250px !important; } }

@media screen and (max-width: 1190px) {
  .landingHeader {
    background-position: bottom; }
  .headerTitleParent {
    margin-top: 40px !important;
    margin-right: 300px; }
  .wovenParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 60px; }
  .wovenImg {
    height: 480px !important;
    width: 770px !important; }
  .linenParagraphs {
    margin-right: 20px !important;
    margin-left: 25px !important;
    font-size: 14px !important;
    letter-spacing: .3px !important;
    width: 220px !important; } }

@media screen and (max-width: 1100px) {
  .landingHeader {
    height: 625px; }
  .headerTitleParent {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 100px !important; }
  .headerParagraph {
    width: 500px !important; }
  .productBG {
    height: 2055px; }
  .wovenParent {
    display: flex;
    flex-direction: column;
    margin-left: 0px !important;
    margin-right: 0px !important; }
    .wovenParent .wovenCenterTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .wovenParent .wovenTitle {
      margin-top: 90px !important;
      margin-left: 0px !important;
      margin-right: 0px !important; }
    .wovenParent .wovenCenterSubtitle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .wovenParent .wovenSubtitle {
      position: relative;
      margin-top: 160px !important;
      margin-left: 0px !important;
      margin-right: 5px !important;
      letter-spacing: 1px; }
    .wovenParent .wovenSubtitle2 {
      position: relative;
      margin-top: 160px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      letter-spacing: 1px; }
    .wovenParent .wovenCenterBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .wovenParent .btn {
      position: absolute;
      margin-top: 40px;
      margin-left: 0px;
      margin-right: 0px; }
  .wovenImg {
    margin-top: 80px !important;
    margin-left: 0px !important;
    margin-right: 140px !important;
    height: 480px !important;
    width: 770px !important; }
  .linenParent {
    display: flex;
    flex-wrap: wrap;
    margin-right: 90px;
    margin-left: 90px; }
  .linenImgs {
    margin-right: 120px !important;
    margin-left: 120px !important;
    height: 180px !important; }
  .warranty {
    height: 80px !important;
    margin-top: 20px !important;
    margin-left: 230px !important; }
  .linensTitle {
    margin-right: 85px !important;
    margin-left: 85px !important; }
  .linenParagraphs {
    margin-right: 0px !important;
    margin-left: 70px !important;
    margin-bottom: -50px;
    font-size: 16px !important;
    letter-spacing: .4px !important;
    width: 305px !important; }
  .learnMore {
    margin-top: 30px; } }

@media screen and (max-width: 1024px) {
  .headerTitleParent {
    margin-top: 90px !important; }
  .productBG {
    height: 2015px; }
  .linenParent {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px; }
  .videoParent {
    margin-top: 250px; }
  .videoThumb {
    width: 900px !important;
    height: 450px !important; } }

@media screen and (max-width: 992px) {
  .videoThumb {
    width: 850px !important;
    height: 450px !important; } }

@media screen and (max-width: 906px) {
  .linenImgs {
    margin-right: 80px !important;
    margin-left: 80px !important;
    height: 180px !important; }
  .warranty {
    height: 80px !important;
    margin-top: 20px !important;
    margin-left: 200px !important; }
  .linensTitle {
    margin-right: 50px !important;
    margin-left: 50px !important; }
  .linenParagraphs {
    margin-right: 0px !important;
    margin-left: 70px !important;
    margin-bottom: -50px;
    font-size: 14px !important;
    letter-spacing: .3px !important;
    width: 220px !important; }
  .videoThumb {
    width: 800px !important;
    height: 400px !important; } }

@media screen and (max-width: 834px) {
  .videoThumb {
    width: 750px !important;
    height: 375px !important; } }

@media screen and (max-width: 812px) {
  .headerTitleParent {
    margin-top: 80px !important; }
  .headerParagraph {
    width: 450px !important; }
  .videoThumb {
    width: 700px !important;
    height: 375px !important; } }

@media screen and (max-width: 736px) {
  .productBG {
    height: 1970px; }
  .videoParent {
    margin-top: 200px; }
  .videoThumb {
    width: 650px !important;
    height: 350px !important; } }

@media screen and (max-width: 640px) {
  .headerParagraph {
    width: 400px !important; } }

@media screen and (max-width: 568px) {
  .headerParagraph {
    width: 350px !important; } }

@media screen and (max-width: 480px) {
  .headerParagraph {
    width: 300px !important; } }

@media screen and (max-width: 414px) {
  .landingHeader {
    background-position: left -630px bottom; }
  .supimaLogo {
    height: 80px !important; }
  .dark-grey {
    display: flex !important;
    flex-direction: column !important; } }

@media screen and (max-width: 375px) {
  .landingHeader {
    background-position: left -640px bottom; } }

@media screen and (max-width: 360px) {
  .landingHeader {
    background-position: left -650px bottom; }
  .headerParagraph {
    width: 270px !important; }
  h5 {
    font-size: 18px; } }
