.modalPageBG {
  background: rgba(27, 24, 24, 0.96);
  background: -webkit-linear-gradient(#111111, #303030);
  background: -o-linear-gradient(#111111, #303030);
  background: -moz-linear-gradient(#111111, #303030);
  background: linear-gradient(#111111, #303030);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100% !important;
  height: 100vh !important;
  z-index: 30 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden !important; }

.modalBG {
  background-color: rgba(172, 170, 170, 0.637);
  height: 500px;
  width: 1000px;
  border-radius: 5px; }

.exit {
  margin-left: 890px;
  margin-bottom: 50px; }

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 37, 37, 0.699);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.253);
  color: grey;
  padding-top: 2px;
  height: 40px;
  width: 110px;
  cursor: pointer;
  font-family: 'Neutra Semibold';
  letter-spacing: 1px;
  border-radius: 0px; }
  .closeButton:hover {
    transition: .3s;
    background-color: rgba(172, 170, 170, 0.637);
    color: black; }

@media screen and (max-width: 1015px) {
  .modalBG {
    width: 950px; }
  .exit {
    margin-left: 835px; } }

@media screen and (max-width: 960px) {
  .modalBG {
    width: 900px; }
  iframe {
    width: 840px !important; }
  .exit {
    margin-left: 790px; } }

@media screen and (max-width: 920px) {
  .modalBG {
    width: 800px;
    height: 450px; }
  .modalVideoParent {
    margin-top: 10px !important; }
  iframe {
    width: 740px !important; }
  .exit {
    margin-left: 690px; } }

@media screen and (max-width: 820px) {
  .exit {
    margin-left: 570px; }
  .modalBG {
    width: 680px;
    height: 400px; }
  .modalVideoParent {
    margin-top: -15px !important; }
    .modalVideoParent .videoDescription {
      margin-top: -30px; }
  iframe {
    width: 640px !important; } }

@media screen and (max-width: 720px) {
  .exit {
    margin-left: 470px; }
  .modalBG {
    width: 580px;
    height: 350px; }
  .modalVideoParent {
    margin-top: -25px !important; }
    .modalVideoParent .videoDescription {
      margin-top: -50px; }
  iframe {
    width: 540px !important; } }

@media screen and (max-width: 620px) {
  .exit {
    margin-left: 370px; }
  .modalBG {
    width: 480px;
    height: 300px; }
  .modalVideoParent {
    margin-top: -50px !important; }
    .modalVideoParent .videoDescription {
      margin-top: -80px; }
  iframe {
    width: 440px !important; } }

@media screen and (max-width: 480px) {
  .exit {
    margin-left: 330px;
    z-index: 100; }
  .modalBG {
    width: 440px;
    height: 250px; }
  .modalVideoParent {
    margin-top: -80px !important; }
    .modalVideoParent .videoDescription {
      margin-top: -90px; }
  iframe {
    width: 410px !important; } }

@media screen and (max-width: 420px) {
  .exit {
    margin-left: 260px; }
  .modalBG {
    width: 380px;
    height: 250px; }
  .modalVideoParent {
    margin-top: -90px !important; }
    .modalVideoParent .videoDescription {
      margin-top: -100px; }
  iframe {
    width: 360px !important; } }

@media screen and (max-width: 400px) {
  .exit {
    margin-left: 200px; }
  .modalBG {
    width: 320px;
    height: 200px; }
  .modalVideoParent {
    margin-top: -100px !important; }
    .modalVideoParent .videoDescription {
      margin-top: -110px; }
  .videoDef {
    font-size: 12px; }
  iframe {
    width: 300px !important; } }
