.navBG {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--color-white);
  height: 55px;
  width: 100%; }

.hamburgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 55px;
  display: none !important; }

.navLogo {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  width: 110px;
  height: 17px;
  cursor: pointer; }

.navMenuParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .navMenuParent .navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    color: #333;
    font-family: 'Neutra';
    letter-spacing: 1.5px;
    margin-top: 12px;
    margin-right: 14px;
    margin-left: 14px;
    padding: 20px;
    cursor: pointer; }

.shopCount {
  position: absolute;
  top: 16px;
  right: 145px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer; }

#shop {
  position: absolute;
  top: 16px;
  right: 120px;
  font-size: 20px;
  cursor: pointer; }

.divider {
  position: absolute;
  top: 17px;
  right: 102px;
  color: grey;
  cursor: pointer; }

#lock {
  position: absolute;
  top: 18px;
  right: 80px;
  font-size: 14px; }

.lock {
  font-family: 'Neutra Bold';
  position: absolute;
  top: 20px;
  right: 36px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer; }

@media screen and (max-width: 992px) {
  .navMenu {
    display: none !important; }
  .hamburgerMenu {
    display: block !important;
    cursor: pointer; }
  .navLogo {
    position: absolute;
    left: 65px;
    right: 20px; } }

@media screen and (max-width: 350px) {
  .navLogo {
    position: absolute;
    left: 20px;
    top: 80px; } }
